/* =============================================
メインビジュアル周り
============================================= */
.mv {
  position: relative;
}

.mv-inner {
  width: 100%;
  overflow: hidden;
  height: 100vh;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation-name: scale;
    animation-duration: 5s;
    transition-timing-function: cubic-bezier(0.795, 0.01, 1, 0.025);
    animation-iteration-count: 1;
  }
}

.mv-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 380px;

  @include mq(600) {
    width: 230px;
    margin-top: -25px;
  }

  img {
    animation-name: logo;
    animation-duration: 3s;
    transition-timing-function: cubic-bezier(0.795, 0.01, 1, 0.025);
    animation-iteration-count: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* =============================================
バナーのスライダー周り
============================================= */
.swiper-container {
  position: relative;
  padding: 50px 0;

  @include pc {
    width: 95%;
  }

  @include tb {
    padding: 20px 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #000;
    z-index: 10;
    opacity: 0.5;

    @media (max-width: 1710px) {
      width: 235px;
    }

    @media (max-width: 1500px) {
      width: 100px;
    }

    @include pc {
      width: 0;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: #000;
    z-index: 10;
    opacity: 0.5;

    @media (max-width: 1710px) {
      width: 260px;
    }

    @media (max-width: 1500px) {
      width: 145px;
    }

    @include pc {
      width: 0;
    }
  }

  .swiper-slide__img {
    margin: 0 auto;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  img {
    max-width: 141px;

    @include tb {
      max-width: 80px;
    }

    @include sp {
      max-width: 60px;
    }
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 0px;
  font-weight: bold;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 285px;
  right: auto;
  z-index: 20;

  @media (max-width: 1710px) {
    left: 245px;
  }

  @media (max-width: 1500px) {
    left: 120px;
  }

  @include pc {
    left: 50px;
  }

  @include tb {
    left: 20px;
  }

  @include sp {
    left: 5px;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 285px;
  left: auto;
  z-index: 20;

  @media (max-width: 1710px) {
    right: 245px;
  }

  @media (max-width: 1500px) {
    right: 120px;
  }

  @include pc {
    right: 50px;
  }

  @include tb {
    right: 20px;
  }

  @include sp {
    right: 5px;
  }
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
}

/* =============================================
contentsクラス周り
============================================= */
.contents {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background: #000;

  @include tb {
    padding: 12px 0;
  }

  &__title {
    margin-top: 45px;
    color: #f2dab9;
    font-size: 42px;
    text-align: center;

    @include pc {
      font-size: 36px;
    }

    @media (max-width: 800px) {
      font-size: 32px;
    }

    @include sp {
      font-size: 27px;
    }

    &--small {
      display: block;
      margin: 40px 0;
      color: #fff;
      font-size: 24px;
      line-height: 1.6;

      @media (max-width: 800px) {
        font-size: 24px;
      }

      @include tb {
        width: 80%;
        margin: 35px auto;
        font-size: 20px;
      }

      @include sp {
        width: 90%;
        margin: 30px auto;
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }

  &__box {
    margin-bottom: 40px;

    @include pc {
      width: 32%;
    }

    @include tb {
      width: 100%;
      margin-bottom: 25px;
    }

    &:last-child {
      @include tb {
        margin-bottom: 50px;
      }
    }

    img {
      @include tb {
        width: 100%;
      }
    }
  }
}

.contents-wrapper {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;

  @include pc {
    width: 90%;
    height: auto;
  }

  @include tb {
    display: block;
    text-align: center;
  }
}

.contents-container {
  width: 60%;

  @include tb {
    width: 100%;
  }
}
/* =============================================
NEW FACE
============================================= */
.newstaff {
  width: 20%;
  margin: 0 auto;

  @include pc {
    width: 50%;
    margin: 30px 0 0;
  }

  @include tb {
    width: 100%;
  }

  @include xs {
    height: auto;
  }

  &__top {
    width: 340px;
    margin: 0 auto;
    font-size: 26px;
    color: #f2dab9;
    text-align: center;
    border-bottom: 1px solid #f2dab9;
    padding: 25px 0 15px;

    @media (max-width: 1000px) {
      width: 80%;

      &-br::before {
        content: "\A";
        white-space: pre;
      }
    }

    @include tb {
      &-br::before {
        content: "";
      }
    }

    @media (max-width: 440px) {
      &-br::before {
        content: "\A";
        white-space: pre;
      }
    }
  }

  &__main{
    position: relative;
    width: 340px;
    margin: 20px auto;
    overflow: hidden;
  
    &:hover img {
      transform: scale(1.1, 1.1);
    }
  
    @include pc {
      margin-top: 50px;
    }
  
    @include tb {
      width: 90%;
      margin-top: 50px;
    }

  }
}
.newstaff-image {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include tb {
    width: 90%;
  }

  &::before {
    content: "NEW";
    font-size: 17px;
    color: #fff;
    display: block;
    position: absolute;
    top: 15px;
    left: 0px;
    transform: rotate(-45deg);
    z-index: 2;
    font-family: "Yu Mincho", YuMincho, serif;

    @include sp {
      font-size: 14px;
      top: 12px;
    }
  }

  &::after {
    content: "";
    width: 63px;
    height: 63px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 63px 63px 0 0;
    border-color: #7b684b transparent transparent transparent;
    z-index: 1;

    @include sp {
      border-width: 50px 50px 0 0;
    }
  }

  img {
    width: 100% !important;
    height: 100% !important;
    transition: 0.8s all;
  }
}
.newstaff-info{
  p{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: "Yu Gothic", YuGothic, sans-serif;
    line-height: 1;
  }
}

.swiper-container02 {
  position: relative;
  width: 340px;
  margin: 20px auto;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1, 1.1);
  }

  @include pc {
    margin-top: 50px;
  }

  @include tb {
    width: 90%;
    margin-top: 50px;
  }


  .swiper-slide__title {
    width: 80%;
    height: 30px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    background: #7b684b;
    margin-top: 5px;
    font-family: "Yu Gothic", YuGothic, sans-serif;

    @include tb {
      width: 90%;
    }

    @include sp {
      font-size: 12px;
    }

    &--small {
      color: #fff;
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
      font-family: "Yu Gothic", YuGothic, sans-serif;
      line-height: 1;
    }
  }
}

.swiper-button-next02,
.swiper-button-prev02 {
  width: 60px;
  height: 76px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  outline: none;

  @include tb {
    display: none;
  }
}

.swiper-button-next02:after,
.swiper-button-prev02:after {
  font-size: 30px;
  font-weight: bold;
}

.swiper-button-next02 {
  position: absolute;
  top: 180px;
  right: -12px;
  z-index: 100;

  @include pc {
    right: -12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 13px;
    width: 28px;
    height: 28px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-radius: 4px;
    transform: rotate(45deg);
  }
}

.swiper-button-prev02 {
  position: absolute;
  top: 180px;
  left: -12px;
  z-index: 100;

  @include pc {
    left: -12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 13px;
    width: 28px;
    height: 28px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-radius: 4px;
    transform: rotate(-135deg);
  }
}

/* =============================================
informationクラス周り
============================================= */

.information {
  width: 100%;
  margin: 0 auto;
  padding-top: 65px;
  background-color: #fff;
  &__wrapper {
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
  
    @include pc {
      flex-direction: column;
    }
  
    @include sp {
      padding-bottom: 50px;
    }
  }
}


.today-therapist {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid #fff;

  @media (max-width: 1240px) {
    width: 90%;
  }

  &__wrapper {
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1100px) {
      width: 95%;
    }

    &--title {
      font-size: 26px;
      color: #7b684b;
      text-align: center;
      border-bottom: 1px solid #7b684b;
      padding: 25px 0 15px;

      @include tb {
        font-size: 22px;
      }

      @include sp {
        font-size: 20px;
      }
    }
    &--content{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
    
      @include pc {
        width: 100%;
        margin-bottom: 50px;
      }
    
      @include sp {
        margin-bottom: 20px;
      }
    }
  }
}
/* =============================================
renderTherapistListItem関数の中身
============================================= */
.today-list{
  width: 25%;
  margin-bottom: 20px;

  &:hover img {
    transform: scale(1.1, 1.1);
  }

  @media (max-width: 1240px) {
    width: 25%;
  }

  @media (max-width: 1000px) {
    width: 33%;
  }

  @media (max-width: 600px) {
    width: 50%;
  }
}
.today-link{
  &__top{
    position: relative;
    @include pc {
      width: 100%;
    }
    &.new{
      &::before {
        content: "NEW";
        font-size: 17px;
        color: #fff;
        display: block;
        position: absolute;
        top: 15px;
        left: 0px;
        transform: rotate(-45deg);
        z-index: 2;
        font-family: "Yu Mincho", YuMincho, serif;
  
        @include sp {
          font-size: 14px;
          top: 12px;
        }
      }
      &::after {
        content: "";
        width: 63px;
        height: 63px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 63px 63px 0 0;
        border-color: #7b684b transparent transparent transparent;
        z-index: 1;
        @include sp {
          border-width: 50px 50px 0 0;
        }
      }

    }
    &--image{
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        transition: 0.8s all;
      }
    }
    &--bg{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 25px;
      background-color: rgba($color: #000000, $alpha: 0.6);
  
      @include tb {
        padding: 10px;
      }
  
      @include sp {
        width: 100%;
        padding: 6px;
      }
      span{
        display: inline-block;
        width: 100%;
        font-size: 14px;
        color: #fff;
        vertical-align: middle;
        margin-bottom: 6px;
        font-family: "Yu Gothic", YuGothic, sans-serif;
  
        @include sp {
          font-size: 14px;
        }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__bottom{
    width: 100%;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background: #7b684b;
    margin-top: 5px;
    font-family: "Yu Gothic", YuGothic, sans-serif;
    border-right: 2px solid #000;

    @include pc {
      width: 100%;
      font-size: 14px;
    }

    @include tb {
      width: 100%;
      font-size: 14px;
    }

    @include xs {
      width: 100%;
      font-size: 12px;
    }
  }
}

.girls {
  width: 25%;
  margin-bottom: 20px;

  &:hover img {
    transform: scale(1.1, 1.1);
  }

  @media (max-width: 1240px) {
    width: 25%;
  }

  @media (max-width: 1000px) {
    width: 33%;
  }

  @media (max-width: 600px) {
    width: 50%;
  }

  &__box {
    position: relative;
    @include pc {
      width: 100%;
    }
    &--img {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transition: 0.8s all;
      }
    }

    &--bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 25px;
      background-color: rgba($color: #000000, $alpha: 0.6);

      @include tb {
        padding: 10px;
      }

      @include sp {
        width: 100%;
        padding: 6px;
      }
    }

    &--small {
      font-size: 14px;
      color: #fff;
      vertical-align: middle;
      margin-bottom: 6px;
      font-family: "Yu Gothic", YuGothic, sans-serif;

      @include sp {
        font-size: 14px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .new {
    &::before {
      content: "NEW";
      font-size: 17px;
      color: #fff;
      display: block;
      position: absolute;
      top: 15px;
      left: 0px;
      transform: rotate(-45deg);
      z-index: 2;
      font-family: "Yu Mincho", YuMincho, serif;

      @include sp {
        font-size: 14px;
        top: 12px;
      }
    }
    &::after {
      content: "";
      width: 63px;
      height: 63px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 63px 63px 0 0;
      border-color: #7b684b transparent transparent transparent;
      z-index: 1;
      @include sp {
        border-width: 50px 50px 0 0;
      }
    }
  }

  &__fee {
    width: 100%;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background: #7b684b;
    margin-top: 5px;
    font-family: "Yu Gothic", YuGothic, sans-serif;
    border-right: 2px solid #000;

    @include pc {
      width: 100%;
      font-size: 14px;
    }

    @include tb {
      width: 100%;
      font-size: 14px;
    }

    @include xs {
      width: 100%;
      font-size: 12px;
    }
  }

  &__place {
    width: 100%;
    height: 30px;
    color: #7b684b;
    text-align: center;
    line-height: 30px;
    background: #fff;
    border: 2px solid #7b684b;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: "Yu Gothic", YuGothic, sans-serif;

    @include pc {
      width: 100%;
      font-size: 14px;
    }

    @include tb {
      width: 100%;
      font-size: 14px;
    }

    @include xs {
      width: 100%;
      font-size: 12px;
    }
  }
}