@charset "UTF-8";

/* =============================================
ハンバーガーメニュー
============================================= */
.toggle {
  display: none;
  right: -17rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
  z-index: 20000;
  width: calc(113vw / (768 / 100));
  height: 113rem;
  @include sp {
    display: block;
  }
}

.toggle span {
  display: block;
  width: 113rem;
  height: 113rem;
  transition: 0.35s ease-in-out;
  background: url(../images/toggle-1.png) no-repeat;
  background-size: 113rem 113rem;
}

.toggle.active span:nth-child(1) {
  background: url(../images/toggle-2.png) no-repeat;
  background-size: 113rem 113rem;
}

.global-nav {
  @include sp {
    display: block;
  }

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.8s ease;
  padding: 40rem 0;
  height: auto;
  z-index: 10000;
}

.global-nav.active {
  transform: translateY(0%);
  height: 100%;
  //opacity: 1;
}

.global-nav ul {
  width: 60%;
  margin: 0 auto;
}

.global-nav.active ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.global-nav .nav-li {
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid #fff;
  font-size: 30rem;
  text-align: center;

  span {
    display: block;
    margin-top: 14rem;
    font-size: 20rem;
  }
}

.global-nav .nav-li a {
  display: block;
  color: #fff;
  padding: 30rem;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

/* =============================================
下層ページ共通の背景
============================================= */
.common-bg{
  width: 100%;
  background-image: url(../img/background.png);
  background-color: #121212;
  padding-bottom: 50px;
}

/* =============================================
下層ページ共通のページタイトル
============================================= */
.common-title{
  &__main{
    width: 640px;
    margin: 0 auto;
    padding: 50px 0 10px;
    text-align: center;
    font-size: 40px;
    color: #f2dab9;
    border-bottom: 1px solid #fff;
    line-height: 1;
    @include tb {
      width: 90%;
      font-size: 30px;
    }
  }
  &__sub{
    font-size: 20px;
    color: #f2dab9;
    text-align: center;
    margin: 0 auto;
    padding: 12px 0 46px;
  }
}

/* =============================================
金色の線
============================================= */
.gold-border{
  width: 100%;
  height: 4px;
  background: #81663e;
  background: -moz-linear-gradient(
    left,
    #81663e 0%,
    #ffe6c2 25%,
    #81663e 50%,
    #ffe6c2 75%,
    #81663e 100%
  );
  background: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#81663e),
    color-stop(25%, #ffe6c2),
    color-stop(50%, #81663e),
    color-stop(75%, #ffe6c2),
    to(#81663e)
  );
  background: -webkit-linear-gradient(
    left,
    #81663e 0%,
    #ffe6c2 25%,
    #81663e 50%,
    #ffe6c2 75%,
    #81663e 100%
  );
  background: -o-linear-gradient(
    left,
    #81663e 0%,
    #ffe6c2 25%,
    #81663e 50%,
    #ffe6c2 75%,
    #81663e 100%
  );
  background: linear-gradient(
    to right,
    #81663e 0%,
    #ffe6c2 25%,
    #81663e 50%,
    #ffe6c2 75%,
    #81663e 100%
  );
  &.double{
    height :8px;
  }
}
